.button{
 -fx-font-size: 16px;
 -fx-background-color :#3d3e3f;
 -fx-text-fill : #f8f8f2;
 -fx-border-color:black;
 -fx-font-weight: bold;
 -fx-border-radius:3px;
 -fx-background-radius:3px;
 -fx-border-width:1.5px;
 -fx-padding:1px 6px 1px 6px;
 }
 

 .button:hover{
-fx-background-color : black;
-fx-text-fill : #f8f8f2;
-fx-cursor :hand;
-fx-background-radius:0px;
 -fx-border-radius:0px;
}
