@font-face {
    font-family: Roboto;
    src: url('RobotoMono-Medium.ttf');
}

.comment  {
	-fx-fill: green;
	-fx-font-style: italic;
}

.var , .main {
    -fx-fill: blue;
}

.type {
    -fx-fill: green;
}



.code-area .paragraph-text {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
}

.lineno .paragraph-text {
    -fx-font-family: "System";
 }


.lineno {
	-fx-border-color: #b7bbb1;
	-fx-border-width: 0 1px 0 0;
    -fx-background-color: #eff5e6;
}
